In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('https://raw.githubusercontent.com/ajiteshshree/Tabular-Playground-Series-Problem/main/data/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/ajiteshshree/Tabular-Playground-Series-Problem/main/data/test.csv')

In [3]:
train.head()

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0

In [4]:
y_train = train['failure']
X = train.drop(['id','failure','product_code'],axis=1)

In [5]:
X_pred = test.drop(['id','product_code'],axis=1)

In [6]:
X.head()

,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,80.10,material_7,material_8,9,5,7,8,4,18.040,12.518,...,20.155,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100
1,84.89,material_7,material_8,9,5,14,3,3,18.213,11.540,...,17.889,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057
2,82.43,material_7,material_8,9,5,12,1,5,18.057,11.652,...,18.288,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376
3,101.07,material_7,material_8,9,5,13,2,6,17.295,11.188,...,19.060,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282
4,188.06,material_7,material_8,9,5,9,2,8,19.346,12.950,...,18.093,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885

<h1><u>Filling null values:</u></h1>

In [7]:
X.shape[0]

26570

In [8]:
X.isnull().sum()

loading            250
attribute_0          0
attribute_1          0
attribute_2          0
attribute_3          0
measurement_0        0
measurement_1        0
measurement_2        0
measurement_3      381
measurement_4      538
measurement_5      676
measurement_6      796
measurement_7      937
measurement_8     1048
measurement_9     1227
measurement_10    1300
measurement_11    1468
measurement_12    1601
measurement_13    1774
measurement_14    1874
measurement_15    2009
measurement_16    2110
measurement_17    2284
dtype: int64

In [9]:
X['loading'].fillna(X['loading'].mean(),inplace=True)
X['measurement_3'].fillna(X['measurement_3'].mean(),inplace=True)
X['measurement_4'].fillna(X['measurement_4'].mean(),inplace=True)
X['measurement_5'].fillna(X['measurement_5'].mean(),inplace=True)
X['measurement_6'].fillna(X['measurement_6'].mean(),inplace=True)
X['measurement_7'].fillna(X['measurement_7'].mean(),inplace=True)
X['measurement_8'].fillna(X['measurement_8'].mean(),inplace=True)
X['measurement_9'].fillna(X['measurement_9'].mean(),inplace=True)
X['measurement_10'].fillna(X['measurement_10'].mean(),inplace=True)
X['measurement_11'].fillna(X['measurement_11'].mean(),inplace=True)
X['measurement_12'].fillna(X['measurement_12'].mean(),inplace=True)
X['measurement_13'].fillna(X['measurement_13'].mean(),inplace=True)
X['measurement_14'].fillna(X['measurement_14'].mean(),inplace=True)
X['measurement_15'].fillna(X['measurement_15'].mean(),inplace=True)
X['measurement_16'].fillna(X['measurement_16'].mean(),inplace=True)
X['measurement_17'].fillna(X['measurement_17'].mean(),inplace=True)

In [10]:
X_pred.isnull().sum()

loading            223
attribute_0          0
attribute_1          0
attribute_2          0
attribute_3          0
measurement_0        0
measurement_1        0
measurement_2        0
measurement_3      329
measurement_4      409
measurement_5      508
measurement_6      624
measurement_7      720
measurement_8      846
measurement_9      904
measurement_10    1067
measurement_11    1136
measurement_12    1240
measurement_13    1303
measurement_14    1440
measurement_15    1542
measurement_16    1678
measurement_17    1740
dtype: int64

In [11]:
X_pred['loading'].fillna(X_pred['loading'].mean(),inplace=True)
X_pred['measurement_3'].fillna(X_pred['measurement_3'].mean(),inplace=True)
X_pred['measurement_4'].fillna(X_pred['measurement_4'].mean(),inplace=True)
X_pred['measurement_5'].fillna(X_pred['measurement_5'].mean(),inplace=True)
X_pred['measurement_6'].fillna(X_pred['measurement_6'].mean(),inplace=True)
X_pred['measurement_7'].fillna(X_pred['measurement_7'].mean(),inplace=True)
X_pred['measurement_8'].fillna(X_pred['measurement_8'].mean(),inplace=True)
X_pred['measurement_9'].fillna(X_pred['measurement_9'].mean(),inplace=True)
X_pred['measurement_10'].fillna(X_pred['measurement_10'].mean(),inplace=True)
X_pred['measurement_11'].fillna(X_pred['measurement_11'].mean(),inplace=True)
X_pred['measurement_12'].fillna(X_pred['measurement_12'].mean(),inplace=True)
X_pred['measurement_13'].fillna(X_pred['measurement_13'].mean(),inplace=True)
X_pred['measurement_14'].fillna(X_pred['measurement_14'].mean(),inplace=True)
X_pred['measurement_15'].fillna(X_pred['measurement_15'].mean(),inplace=True)
X_pred['measurement_16'].fillna(X_pred['measurement_16'].mean(),inplace=True)
X_pred['measurement_17'].fillna(X_pred['measurement_17'].mean(),inplace=True)

<h1><u>Get_dummies:</u></h1>

In [12]:
A = pd.get_dummies(X)

In [13]:
Test = pd.get_dummies(X_pred)

In [54]:
tupple = A.align(Test,axis=1,fill_value=0)

In [63]:
TRAIN = pd.DataFrame(tupple[0])
TEST = pd.DataFrame(tupple[1])

<h1><u>Scaling:</u></h1>

In [14]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [68]:
ss.fit(TRAIN)
ss.fit(TEST)

StandardScaler()

<h1><u>Model:</u></h1>

In [18]:
y_train.value_counts()

0    20921
1     5649
Name: failure, dtype: int64

In [93]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(class_weight={0:1, 1: 3},max_iter=10000)

In [94]:
lr.fit(TRAIN,y_train)

LogisticRegression(class_weight={0: 1, 1: 3}, max_iter=10000)

In [95]:
pred = lr.predict(TEST)

In [96]:
submission =  pd.DataFrame({'id': test['id'],'failure': pred})
submission.set_index('id',inplace=True)

In [97]:
submission.to_csv('submission.csv')